* {
    background-color: lightgrey;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

.highlight {
    background-color: red;
}

h1 {
    text-align: center;
}

.totalMonthly {
    text-align: center;
}